
@{
    ViewData["Title"] = "权限中心";
    Layout = null;
}
<div id="AuthorityCenter">
    <el-row :gutter="10">
        <el-col :span="10">
            <div class="grid-content bg-purple">
                <template>
                    <el-tabs v-model="Rolepane">
                        <el-tab-pane label="角色管理" style="color:orange" name="Role"></el-tab-pane>
                    </el-tabs>
                </template>
                <div style="height:50px;line-height:50px;background-color:#f2f2f2;width:100%;margin-bottom:10px">
                    <el-input placeholder="查询" v-model="search_userrole" clearable
                              style="width:200px;margin-left:20px;height:30px;"
                              maxlength="50"
                              prefix-icon="el-icon-search">
                    </el-input>
                    @*<el-button size="small" @@click="RoleAdd(0)" type="primary" circle title="新建" icon="el-icon-plus" style="float:right;margin-right:20px;margin:10px"></el-button>*@
                </div>
                @*<el-tree :data="UserRoleData"
                             node-key="id"
                             default-expand-all
                             :props="defaultProps"
                             :filter-node-method="filterNode"
                             ref="UserRole">
                    </el-tree>*@
                <el-table v-loading.fullscreen.lock="RoleLoading"
                          element-loading-text="加载中"
                          element-loading-background="rgba(255, 255, 255, 0.75)"
                          :data="UserRoleData"
                          style="width: 100%;cursor:pointer"
                          :height="tableHeight"
                          highlight-current-row
                          @@current-change="UserRoleTableClick"
                          ref="table">
                    <el-table-column prop="roleName"
                                     label="角色名称"
                                     show-overflow-tooltip
                                     width="180">
                    </el-table-column>
                    <el-table-column prop="roleDesc"
                                     label="角色描述"
                                     show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column prop="createTime"
                                     label="创建时间"
                                     show-overflow-tooltip
                                     width="180">
                    </el-table-column>
                </el-table>
                <el-pagination background
                               style="text-align:left;padding:0px;position:fixed;bottom:17px;padding-left:9px;"
                               :page-size="UserRolePagation.limit"
                               :current-page="UserRolePagation.page"
                               :pager-count="5"
                               layout="prev, pager, next,total"
                               :total="UserRolePagation.total"
                               @@current-change="RoleCurrentChange_row">

                </el-pagination>
            </div>
        </el-col>
        <el-col :span="14">
            <div class="grid-content bg-purple-light">
                <template>
                    <el-tabs v-model="activeName">
                        @*分配用户*@
                        <el-tab-pane label="分配用户" v-loading="UserLoading" name="first" element-loading-background="rgba(255, 255, 255, 0.75)" element-loading-text="加载中">
                            <div style="height:50px;line-height:50px;background-color:#f2f2f2;width:100%;margin-bottom:10px">
                                <el-input placeholder="搜索" v-model="search_AssignUsers" clearable
                                          style="width:200px;margin-left:20px;height:30px;border-radius:15px;"
                                          prefix-icon="el-icon-search" maxlength="50"
                                          @*@@keyup.enter.native="SearchAssignUsersData"*@>
                                </el-input>
                                <el-button size="small" type="primary" @@click="SaveUsersData" circle title=提交 style="float:right;margin-right:20px;margin:10px"><i class="el-icon-check" style="font-size:12px"></i></el-button>
                                @*<el-button size="small" @@click="RoleAdd(1)" type="primary" icon="el-icon-plus" circle title="新建" style="float:right;margin-right:20px;margin:10px;"></el-button>*@

                            </div>
                            <template>
                                <el-table @*element-loading-spinner="el-icon-loading"*@
                                          :data="AssignUsersData"
                                          ref="AssignUsers"
                                          @@row-click="UserclickRow"
                                          :height="tableHeight"
                                          :row-key="getRowKey"
                                          @@select="selectRow"
                                          @@select-all="selectAllRow"
                                          style="width: 100%;cursor:pointer">
                                    <el-table-column type="selection"
                                                     reserve-selection
                                                     :selectable='UserecheckboxInit'
                                                     width="55">
                                    </el-table-column>
                                    <el-table-column prop="userAccount"
                                                     label="账户"
                                                     show-overflow-tooltip>
                                    </el-table-column>
                                    <el-table-column prop="userName"
                                                     label="名称"
                                                     show-overflow-tooltip>
                                    </el-table-column>
                                    <el-table-column prop="email"
                                                     label="电子邮件"
                                                     show-overflow-tooltip>
                                    </el-table-column>
                                    @*<el-table-column prop="Creater"
                                                         label="创建人">
                                        </el-table-column>
                                        <el-table-column prop="CreateTime"
                                                         label="创建时间">
                                        </el-table-column>*@
                                </el-table>
                            </template>

                            <div class="block" style="height:36px;line-height:36px;width:100%;position:fixed;bottom:70px;margin-left:14px">
                                <el-checkbox @@change="AllUserChange" v-model="IsAllUser" style="margin-right:20px;">全选所有</el-checkbox>
                                <span>全部用户中已选 <span class="ADTableUserSpan">{{UsersPagationChecked}}</span></span>&nbsp;|
                                <span>本页有 <span class="ADTableUserSpan">{{AssignUsersData.length}}</span>用户</span>&nbsp;|
                                <span>所有<span class="ADTableUserSpan">{{AssignUsersPagation.total}}</span>用户</span>

                            </div>
                            <div class="block">
                                <el-pagination background
                                               @@size-change="AssignUsersTableSizeChange"
                                               @@current-change="AssignUsersTablePageChange"
                                               :current-page="AssignUsersPagation.page"
                                               :pager-count="5"
                                               @*:page-sizes="[100, 200, 300, 400]"*@
                                               :page-size="AssignUsersPagation.limit"
                                               layout="prev, pager, next,total"
                                               :total="AssignUsersPagation.total"
                                               style="text-align:left;padding:0px;padding-top:25px;margin-left: -5px;">
                                </el-pagination>
                            </div>
                            @*<el-button type="primary" @@click="SaveUsersData" v-loading.fullscreen.lock="ajaxSend" style="margin-left:80%;margin-top:2%;margin-bottom:5%">提交</el-button>*@
                        </el-tab-pane>
                        @*菜单权限*@
                        <el-tab-pane label="菜单权限" name="five">
                            <div style="height:50px;line-height:50px;background-color:#f2f2f2;width:100%;margin-bottom:10px">
                                <el-input placeholder="搜索" v-model="search_MenuAuthority" clearable
                                          maxlength="50" style="width:200px;margin-left:20px;height:30px;border-radius:15px;"
                                          prefix-icon="el-icon-search">
                                </el-input>
                                <el-button size="small" type="primary" @@click="SaveMenuData" circle title=提交 style="float:right;margin-right:20px;margin:10px"><i class="el-icon-check" style="font-size:12px"></i></el-button>
                                @*<el-button size="small" @@click="RoleAdd(5)" type="primary" circle icon="el-icon-plus" title="新建" style="float:right;margin-right:20px;margin:10px"></el-button>*@

                            </div>
                            <el-tree v-loading.fullscreen.lock="Loading"
                                     element-loading-text="加载中"
                                     element-loading-background="rgba(255, 255, 255, 0.75)"
                                     :data="MenuAuthorityData"
                                     show-checkbox
                                     node-key="id"
                                     default-expand-all
                                     :filter-node-method="filterNode"
                                     check-on-click-node
                                     :expand-on-click-node="false"
                                     :style="{'height':screenHeight,'overflow':'hidden','overflow-y':'scroll'}"
                                     :props="defaultProps"
                                     @@check-change="MenutreeNodeClick"
                                     check-strictly
                                     ref="MenuAuthority">
                                <span class="custom-tree-node" slot-scope="scope">
                                    <span :title="scope.node.label" style="display: inline-block; float: left;">
                                        <i class="el-icon-s-operation" style="color:rgb(247, 181, 99);"></i>&nbsp;  {{scope.node.label}}
                                    </span>
                                </span>
                            </el-tree>

                        </el-tab-pane>
                    </el-tabs>
                </template>
            </div>
        </el-col>
    </el-row>
</div>
<environment include="Development">
    <script src="~/js/dev/AuthorityManage.js?v=@DateTime.Now.Millisecond"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/dist/AuthorityManage.js?v=@DateTime.Now.Millisecond"></script>
</environment>