
@{
    ViewData["Title"] = "实体管理";
    Layout = null;
}
<style>
</style>

<div id="EntityVue">
    @*------------------顶部搜索框---------------*@
    <el-row style="margin: 8px 0px;">
        <el-col :span="24">
            <template>
                <el-select style="width:20%" @@change="selectModel" clearable v-model="Modelvalue" placeholder="请选择模型">
                    <el-option v-for="item in ModelOptions" :key="item.id" :label="item.name" :value="item.id">
                    </el-option>
                </el-select>
            </template>
            <el-input prefix-icon="el-icon-search" style="margin-left:3%;width:20%;" v-model="searchName" placeholder="请输入名称或说明" clearable></el-input>
            <el-button size="small" @@click="AddEntity" type="primary" circle title="新建" icon="el-icon-plus" style="margin-right:20px;float:right;margin-top:0.3%"></el-button>
        </el-col>
    </el-row>
    @*------------------table表格---------------*@
    <el-row>
        <el-table :header-cell-style="headerClass"
                  :data="EntitytableData"
                  v-loading.fullscreen.lock="EntityTabLoading"
                  element-loading-text="加载中......"
                  element-loading-background="rgba(255, 255, 255, 0.75)"
                  height="calc(100vh - 178px)"
                  style="width: 100%; overflow-y: auto;">
            <el-table-column v-for="item in SQLCommonFiled"
                             :prop="item.Value"
                             show-overflow-tooltip
                             align="center"
                             :label="item.Label">
            </el-table-column>
            <el-table-column label="操作" align="center">
                <template slot-scope="scope">
                    <el-button size="small" @@click="handleEdit(scope.row)" circle type="primary" plain title="修改" icon="el-icon-edit"></el-button>
                    <el-button size="small" @@click="handleDelete(scope.row)" plain type="danger" circle title="删除" icon="el-icon-delete"></el-button>
                </template>
            </el-table-column>
        </el-table>
    </el-row>
    <el-row class="table_footer_btn">
        <el-pagination background
                       style="position:fixed; margin-top: 15px;"
                       @@size-change="handleSizeChange"
                       @@current-change="handleCurrentChange"
                       :current-page="pagenum"
                       :page-size="pagesize" @*每页展示条*@
                       :page-sizes="[pageMaxsize,20,50]"
                       layout="total, sizes, prev, pager, next, jumper"
                       :total="total">
        </el-pagination>
    </el-row>
    @*------------------dialog弹框---------------*@
    <el-dialog :title="dialogTitle" :visible.sync="dialogVisible" :close-on-click-modal="false" :close-on-press-escape="false" width="40%" :before-close="handleClose">
        <el-form :model="EntityRuleForm" label-position="left" :rules="EntityFromrules" ref="EntityruleForms" label-width="70px" class="demo-ruleForm">
            <el-form-item label="名字" prop="Name">
                <el-input v-model="EntityRuleForm.Name" :disabled="disabled" maxlength="50" show-word-limit></el-input>
            </el-form-item>
            <el-form-item label="说明" prop="Remark">
                <el-input v-model="EntityRuleForm.Remark" maxlength="99" show-word-limit></el-input>
            </el-form-item>
            <el-form-item label="临时表" prop="StageTable">
                <el-input :disabled="true" v-model="EntityRuleForm.StageTable ='stage_'+ EntityRuleForm.Name" maxlength="50" show-word-limit></el-input>
            </el-form-item>
            <el-form-item label="开始于" prop="BeganIn">
                <el-input-number v-model="EntityRuleForm.BeganIn" :min="1" :max="100000" size="small"></el-input-number>
            </el-form-item>
            <el-form-item label="模型" prop="Model">
                <el-select maxlength="50" show-word-limit :disabled="dischanged" @@change="DialogChange" v-model="EntityRuleForm.Model" placeholder="请选择模型">
                    <el-option v-for="item in ModelOptions" :key="item.id" :label="item.name" :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-checkbox-group style="margin-left: 68px;margin-bottom: 3%;" v-model="EntityRuleForm.isCreate">
                <el-checkbox label="是否自动创建代码" name="type" maxlength="50" show-word-limit></el-checkbox>
            </el-checkbox-group>
            <div class="dialog_footer_btn">
                <el-button size="small" type="primary" @@click="AddsubmitForm(EntityFromrules)">提交</el-button>
                <el-button size="small" @@click="resetForm">取消</el-button>
            </div>
        </el-form>
    </el-dialog>
</div>
<environment include="Development">
    <script src="~/js/dev/EntityManagement.js?v=@DateTime.Now.Millisecond"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/dist/EntityManagement.js?v=@DateTime.Now.Millisecond"></script>
</environment>



